.root {
  max-width: 500px;
  min-width: 300px;
  display: grid;
  column-gap: 4px;
  row-gap: 4px;
  grid-template:
    'l1 i1'
    'e1'
    'l2 i2'
    'e2'
    'b  b';
}

.error-message {
  color: red;
}

.submit-button {
  composes: common from '~@tsp-wl/common-components/button/styles.css';
  font-style: italic;
  background-color: darksalmon;
}
